body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

h1,h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
	height: auto;
}

a {
	text-decoration: none;
}

button {
	font-family: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	/* text-transform: uppercase; */
	margin: 0;
	padding: 0;
	color: #fff;
}