.page__body {
    background-color: black;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.main-nav {
    display: flex;
    width: 470px;
}

.site-list__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.button__header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0059C1;
    width: 121px;
    height: 40px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.main-container__index-background {
    position: relative;
    background-image: url(../img/index-background.jpg);
    max-width: 1276px;
    height: 595px;
    margin: 0 auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.main-container__index-background::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
}

.main-container__index-logo {
    display: block;
    margin: 0 auto;
}

.info__play {
    display: flex;
}

.info__play-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

.info__play-link::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2.5px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 155px;
    bottom: -8px;
    background-image: url(../img/triangle_btn.svg);
    background-repeat: no-repeat;
    background-position: 60%;
}

.subscriptions__card-sub {
    width: 502px;
    height: 296px;
    background: linear-gradient(90deg, black 0%, rgba(13, 0, 123, 0.25) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);
    border-radius: 12px;
}

.subscriptions__card-title {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    text-align: center;
}

.subscriptions__card-description {
    color: #fff;
}

.subscriptions__card-btn {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    width: 147px;
    height: 40px;
    border-radius: 12px;
}

.subscriptions__btn-price {
    display: flex;
    /* align-items: center; */
    font-weight: 900;
    background-color: #e38B00;
}

.subscriptions__btn-trial {
    display: flex;
    /* align-items: center; */
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #e38B00;
}