.intro-form {
  padding-left: 113px;
  padding-right: 113px;
  padding-top: 25px;
}

.intro-form__title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  margin-bottom: 12px;
}

.intro-form__text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 21px;
}