@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  width: 1276px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.main-header {
  max-width: 1276px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main-header__logo {
  display: flex;
}
.main-header__logo:hover {
  opacity: 0.7;
  transition: all 0.3s ease-out;
}

.button__header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0059c1;
  width: 121px;
  height: 40px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.button__header:hover {
  background: #ffff00;
  color: #0059c1;
  transition: all 0.3s ease-out;
}
.button__header:active {
  background: #e7ecf1;
  color: #fff;
}

.main-nav__wrapper {
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-nav__left-list {
  display: inherit;
  gap: 45px;
}

.main-nav__right-list {
  display: inherit;
  gap: 45px;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.site-list__link:hover {
  color: #ffff00;
}

.main-container__index-background {
  position: relative;
  background-image: url(/assets/img/index-background.png);
  max-width: 1274px;
  min-height: 595px;
  margin: 0 auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  z-index: 1;
  padding-bottom: 32px;
}

.main-container__index-background::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.main-container__slider-area {
  display: flex;
  justify-content: center;
}

.main-container__slider-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.main-container__main_title {
  display: flex;
  justify-content: center;
  padding: 24px;
  position: relative;
  min-width: 658px;
  min-height: 143px;
}

.info__play {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  position: relative;
  left: 17px;
}

.info__line {
  min-width: 500px;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  position: relative;
}
.info__line::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #E3B100;
  min-width: 100px;
  top: 0;
  left: 0;
}

.info__btn {
  background: inherit;
  position: relative;
}
.info__btn::before {
  content: "";
  position: absolute;
  background-image: url(/assets/img/triangle-btn.png);
  background-repeat: no-repeat;
  background-position: 15px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -3px;
  left: -40px;
}
.info__btn::before:hover {
  background-color: #E3B100;
}
.info__btn::before:active {
  background-color: #dedcd6;
}

.info__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
}
.info__text:hover {
  color: #E3B100;
}
.info__text:active {
  color: #dedcd6;
}

.series {
  margin: 0 auto;
  position: relative;
  padding-bottom: 81px;
  max-width: 1920px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.series::-webkit-scrollbar {
  display: none;
}

.series__wrapper {
  display: flex;
  flex-direction: row;
}

.series__main-title {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  margin-bottom: 24px;
}

.series__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.series__item {
  cursor: pointer;
  position: relative;
  scroll-snap-align: start;
}
.series__item:hover a {
  background: rgba(255, 255, 255, 0.15);
  filter: blur(5px);
  transition: all 0.3s ease-out;
  z-index: 0;
}

.series__item-link {
  position: relative;
}

.series__item-img {
  position: relative;
  z-index: 1;
  border-radius: 12px;
  background: #d9d9d9;
  width: 210px;
  height: 300px;
}

.series__card-area {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px;
  position: absolute;
  top: 15px;
  z-index: 0;
}

.series__info-header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.series__raiting {
  color: #E3B100;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
}

.series__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.series__info-area {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.series__info-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 7px;
}

.series__info-main-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  margin-bottom: 6px;
}

.series__info-description {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  margin-bottom: 50px;
}

.series__card-button {
  justify-content: space-between;
  width: 170px;
  height: 38px;
  background: #0059c1;
  border-radius: 12px;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 16px;
}
.series__card-button:hover {
  background: #E3B100;
}
.series__card-button:active {
  background: #ece0b7;
}

.subscriptions {
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
}

.subscriptions__main-title {
  margin-bottom: 24px;
  color: #fff;
  font-size: 32px;
  line-height: 38px;
  font-weight: 900;
}

.subscriptions__card-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.subscriptions__card-sub {
  cursor: pointer;
  position: absolute;
  width: 502px;
  height: 296px;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.subscriptions__card-sub--active {
  position: relative;
  opacity: 1;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 89, 193, 0.5), rgba(0, 89, 193, 0.5)), linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
  border: 1px solid rgba(0, 89, 193, 0.5);
}
.subscriptions__card-sub--left {
  position: relative;
  left: 115px;
}
.subscriptions__card-sub--left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(220deg, #000000 10%, rgba(13, 0, 123, 0.25) 100%);
  border-radius: 12px;
}
.subscriptions__card-sub--right {
  position: relative;
  left: -120px;
}
.subscriptions__card-sub--right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #000000 15%, rgba(13, 0, 123, 0.25) 100%);
  border-radius: 12px;
}

.subscriptions__card-title {
  margin: 0;
  color: #fff;
  font-size: 28px; /*Если ставить шрифт 30пкс, как в макете, то заголовок уходит вниз. Не знаю, почему так происходит*/
  line-height: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 35px;
}

.subscriptions__card-description {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  padding-bottom: 32px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscriptions__card-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.subscriptions__btn-price {
  display: flex;
  font-weight: 900;
  background-color: #e38b00;
}
.subscriptions__btn-price:hover {
  background-color: inherit;
  border: 1px solid #e38b00;
}
.subscriptions__btn-price:active {
  background-color: #e3dcd1;
  border: none;
  color: #e38b00;
}

.subscriptions__btn-trial {
  display: flex;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #e38b00;
}
.subscriptions__btn-trial:hover {
  background-color: #e38b00;
  border: 1px solid #e3dcd1;
}
.subscriptions__btn-trial:active {
  background-color: #e3dcd1;
  color: #e38b00;
  border: 1px solid #e38b00;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 147px;
  height: 40px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.main-footer {
  background: url(../../../assets/img/footer-background.png) no-repeat center;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: row;
  min-height: 286px;
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer__contacts-description {
  margin-bottom: 17px;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
  padding-left: 172px;
  padding-right: 209px;
}

.main-footer__content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.main-footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  gap: 16px;
}

.main-footer__copyright-logo {
  display: flex;
  justify-content: center;
}

.main-footer__copyright-text {
  text-align: center;
  color: #707070;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0059c1;
  width: 44px;
  height: 30px;
  border-radius: 6px;
}
.social__link--message {
  width: 142px;
  height: 30px;
}

.menu-footer__content {
  display: flex;
  gap: 16px;
  padding: 0;
  margin-bottom: 21px;
}

.menu-footer__information {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0;
}

.menu-footer__item--original {
  background: linear-gradient(180deg, #0059C1 0%, #9E00FF 77.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #9E00FF;
}

.menu-footer__item-link {
  color: #707070;
}
.menu-footer__item-link:hover {
  color: #fff;
}

.main-footer__additional-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}

.main-footer__additional-description {
  text-align: right;
}