.card-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 147px;
	height: 40px;
	border-radius: 12px;
	font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}